<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="ForgotPassword.css">
    <style>
        .error {
            color: red;
        }

        .error input,
        .error textarea {
            color: black;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#warning').hide();
            $('#registration-form').submit(function (event) {
                event.preventDefault();

                $('form input[data-required]').removeClass('error');

                var hasErrors = false;

                var pattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                $('form input[data-required]').each(function () {
                    if ($.trim($(this).val()) === '') {
                        $(this).addClass('error');
                        $(this).prev('span.details').addClass('error');
                        $('#warning').show();
                        $('.emailWarning').hide();
                        hasErrors = true;
                    } else if ($('#email').val() != '' && !pattern.test($('#email').val())) {
                        $('#warning').hide();
                        $('.emailWarning').show();
                        hasErrors = true;
                    } else {
                        $(this).removeClass('error');
                        $(this).prev('span.details').removeClass('error');
                        $('#warning').hide();
                        $('.emailWarning').hide();
                    }
                });

                if (!hasErrors) {
                    alert('The password reset email has been successfully sent to your email address.');
                    window.location.href="/Login";
                }
            });


        });
    </script>
</head>

<body>
    <div class="container">
        <div class="title">Forgot Password </div>
        <form id="registration-form" action="#">
            <div class="user-details">

                <div class="input-box">
                    <span class="details">Email * </span>
                    <input type="text" placeholder="Enter your email" data-required id="email">
                    <div id="warning" style="color: red; font-size: 12px;">Please enter email</div>
                    <div class="emailWarning" style="color: red; font-size: 12px; display: none;">Please enter Email
                        Format
                    </div>
                </div>

            </div>
            <div class="tacbox">
                &emsp; Already have an account?
                <a href="/Login">Login</a>
            </div>

            <div class="button">
                <input type="submit" value="Forgot">
            </div>
    </div>
    </form>
    </div>

</body>

</html>